<template>
	<div class="container" v-if="!isLoaded">
		<table class="tg">
			<tr>
				<th v-for="i in 5" class="tg-cly1" :key="i">
					<div class="line"></div>
				</th>
			</tr>
			<tr v-for="i in 5" :key="i">
				<td v-for="j in 5" class="tg-cly1" :key="j">
					<div class="line"></div>
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
export default {
	name: "SkeletonTable",
	props: {
		isLoaded: {
			type: Boolean,
			required: false,
			default: false
		}
	}
};
</script>

<style scoped lang="scss">
$base-color: #F4F4F4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2.0s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
	background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
	background-size: 600px;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
	table-layout: fixed;
	width: 100%;
}

.tg td {
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
}

.tg th {
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
}

.line {
	float: left;
	width: 100%;
	height: 16px;
	margin-top: 12px;
	border-radius: 7px;

	@include background-gradient;
	animation: shine-lines infinite ease-out;

	@include media("<phone") {
		animation-duration: 4s;
	}

	@include media(">=phone") {
		animation-duration: 3.0s;
	}
}

@keyframes shine-lines {
	0% {
		background-position: -100px;
	}
	40%, 100% {
		background-position: 462px;
	}
}
</style>
