<template>
	<div class="skeleton-wk6rcwngocy">
		<div v-if="isLoaded"></div>
	</div>
</template>

<script>
export default {
	name: "SkeletonBarChart",
	props: {
		isLoaded: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style scoped>
.skeleton-wk6rcwngocy:empty {
	position: relative;
	height: 290px;
	background-image: linear-gradient(#cccccc 90px, transparent 0), linear-gradient(#bfbfbf 119px, transparent 0), radial-gradient(circle 0px at 0px 0px, #cccccc -1px, transparent 0px), linear-gradient(#cccccc 200px, transparent 0), linear-gradient(#b3b3b3 100px, transparent 0), linear-gradient(#cccccc 119px, transparent 0), linear-gradient(#abaaaa 160px, transparent 0), linear-gradient(#cccccc 200px, transparent 0);
	background-repeat: repeat-y;
	background-size: 100px 290px, 100px 290px, 0px 290px, 100px 290px, 100px 290px, 100px 290px, 100px 290px, 100px 290px;
	background-position: left 600px top 200px, left 500px top 171px, left 0px top 0px, left 400px top 90px, left 300px top 190px, left 200px top 171px, left 100px top 130px, left 0px top 90px;
}

.skeleton-wk6rcwngocy:empty:before {
	content: ' ';
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 290px;
	-webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
	-webkit-mask-repeat: repeat-y;
	-webkit-mask-size: 50px 290px;
	-webkit-mask-position: -20% 0;
	background-image: linear-gradient(rgba(102, 102, 102, 1) 90px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 119px, transparent 0), radial-gradient(circle 0px at 0px 0px, rgba(102, 102, 102, 1) -1px, transparent 0px), linear-gradient(rgba(102, 102, 102, 1) 200px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 100px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 119px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 160px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 200px, transparent 0);
	background-repeat: repeat-y;
	background-size: 100px 290px, 100px 290px, 0 290px, 100px 290px, 100px 290px, 100px 290px, 100px 290px, 100px 290px;
	background-position: left 600px top 200px, left 500px top 171px, left 0 top 0px, left 400px top 90px, left 300px top 190px, left 200px top 171px, left 100px top 130px, left 0px top 90px;
	animation: shineForSkeleton-wk6rcwngocy 2s infinite;
}

@keyframes shineForSkeleton-wk6rcwngocy {
	to {
		-webkit-mask-position: 120% 0
	}
}
</style>
