#wpcontent {
	padding-left: 0 !important;
	position: relative;

	@include media("<=phone") {
		padding-top: 46px;
	}
}

#wpbody {
	@include media("<=phone") {
		padding-top: 0;
	}
}

main {
	display: block;
	width: 100%;
	padding: 10px 20px;
	color: #2c3337;
	box-sizing: border-box;

	.page-title {
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 20px 0;
	}

	.desc {
		font-size: 14px;
		line-height: 1.5em;
		margin: 10px 0 0;
		color: #50575e;
	}

	button {
		border: 0;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		text-shadow: none;
		box-shadow: none;
		outline: none;
		color: #fff;
	}

	button.primary {
		background-color: #e27730;
		border-color: #e27730;
	}

	button.primary:hover {
		background-color: #b85a1b;
		border-color: #b85a1b;
	}

	button.secondary {
		background-color: #738e9e;
		border-color: #738e9e;
		color: #fff;
	}

	button.secondary:hover {
		background-color: #395360;
		border-color: #395360;
	}

	button.md {
		font-size: 14px;
		font-weight: 500;
		padding: 9px 15px;
		min-height: 36px;
		line-height: 16px;
		border-width: 1px;
		border-style: solid;
	}

	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	input {
		background-color: #fff;
		border: 1px solid #8d8f95;
		border-radius: 4px;
		box-shadow: none;
		color: #2c3337;
		display: inline-block;
		vertical-align: middle;
		padding: 7px 12px;
		width: 500px;
		min-height: 36px;
		line-height: 1.3;

		::placeholder {
			color: #646970;
			opacity: 0.5;
		}
	}

	// Form elements.
	input[type=text],
	input[type=email],
	input[type=number],
	input[type=password],
	select {
		background-color: #fff;
		border: 1px solid #8d8f95;
		border-radius: 4px;
		box-shadow: none;
		color: #2c3337;
		display: inline-block;
		vertical-align: middle;
		padding: 7px 12px;
		margin: 0 10px 0 0;
		width: 500px;
		min-height: 36px;
		line-height: 1.3;

		@include media("<desktop") {
			width: 300px;
		}

		@include media("<phone") {
			width: 100%;
			max-width: unset;
			margin-right: 0;

			& ~ button {
				margin-top: 8px;
			}
		}

		&[readonly] {
			background-color: #f9f9f9;
		}

		&.small-text {
			width: 75px;
		}

		&:focus {
			border: 1px solid #016AAB;
			box-shadow: 0 0 0 1px #016AAB;
			outline: none;
		}

		&:disabled {
			opacity: 0.6;
		}
	}

	input[type=checkbox] {
		&:focus {
			border: 1px solid #016AAB;
			box-shadow: 0 0 0 1px #016AAB;
			outline: none;
		}
	}

	input.error {
		border-color: #e27730;
	}

	.submit {
		margin: 0;
		padding: 25px 0;

		.help-text {
			margin-left: 10px;
			vertical-align: middle;
		}
	}

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		color: #fff;
		text-align: center;
		border-radius: 10px;
		padding: 10px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;

		&.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

		&.success {
			background-color: #738e9e;
		}

		&.error {
			background-color: #f77f00;
		}
	}

	@-webkit-keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
}
