<template>
	<h2 class="page-title">{{ __('Graph Data', 'nu-vue') }}</h2>
	<p class="desc">{{ __('A bar chart will be displayed with the API data.', 'nu-vue') }}</p>
	<SkeletonBarChart :is-loaded="isLoaded"/>
	<BarChart :is-loaded="isLoaded" :chart-data="data" :height="100" />
</template>

<script>

import {__} from "@wordpress/i18n";
import BarChart from "components/BarChart.vue";
import SkeletonBarChart from "components/skeletons/SkeletonBarChart.vue";
import {fetchApi, getApiErrors, printApiError, showSnackBar} from "@/utils/bootstrap.js";
import {DATA_ENDPOINT} from "@/constants.js";

export default {
	name: "Graph",
	components: {SkeletonBarChart, BarChart},
	data() {
		return {
			isLoaded: false,
			data: {},
		};
	},
	created() {
		this.fetchData();
	},

	methods: {
		__,
		fetchData() {
			this.isLoaded = false;
			fetchApi({path: DATA_ENDPOINT + '?type=graph'})
				.then((response) => {
					this.data = response;
					this.isLoaded = true;
				})
				.catch((error) => {
					showSnackBar(
						printApiError(getApiErrors(error)),
						'error'
					);
				});
		},
	},
};
</script>
