<template>
	<h2 class="page-title">{{ __("Settings", "nu-vue") }}</h2>
	<p class="desc">{{ __("Control settings for Table tab view.", "nu-vue") }}</p>

	<div class="settings-form">
		<div class="row">
			<div class="label">
				<label for="no_of_rows">{{ __("No of rows", "nu-vue") }}</label>
			</div>
			<div class="field">
				<input
					type="number"
					min="1"
					max="5"
					id="no_of_rows"
					:placeholder="__('Number of row items', 'nu-uve')"
					:disabled="isUpdatingNoRows || ! settings.no_of_rows"
					v-model="settings.no_of_rows"
					v-on:change="updateNoRows"
				/>
				<p class="desc">
					{{
						__("Please specify the number of rows you want to display under the table. Note that, you can specify any number between 1 and 5", "nu-vue")
					}}
				</p>
			</div>
		</div>

		<div class="row">
			<div class="label">
				<label for="human_readable_date">
					{{ __("Human Readable Date", "nu-vue") }}
				</label>
			</div>
			<div class="field">
				<Switches
					@input="onToggleSwitch"
					:checked="settings.human_readable_date"
					:disabled="isUpdatingHumanReadableDate"
					v-on:change="updateHumanReadableDate()"
				/>
				<p class="desc">
					{{
						__("Disable this option if you want to display unix timestamp instead of human readable date.", "nu-vue")
					}}
				</p>
			</div>
		</div>

		<div class="row no-border">
			<div class="label">
				<label for="emails">{{ __("Emails", "nu-vue") }}</label>
			</div>
			<div class="field">
				<EmailRepeater/>
			</div>
		</div>
	</div>
</template>


<script>

import Switches from "components/Switches.vue";
import EmailRepeater from "components/EmailRepeater.vue";
import {__} from "@wordpress/i18n";
import {fetchApi, getApiErrors, printApiError, showSnackBar} from "@/utils/bootstrap.js";
import {mapState} from "pinia";
import {useSettingsStore} from "@/stores/settingsStore.js";
import {SETTINGS_ENDPOINT} from "@/constants.js";

export default {
	name: "Settings",

	computed: {
		...mapState(useSettingsStore, ['getSettings', 'getNoOfRows', 'getHumanReadableDate', 'updateSettings']),
	},

	components: {
		Switches,
		EmailRepeater
	},

	data() {
		return {
			settings: {},
			isUpdatingNoRows: false,
			isUpdatingHumanReadableDate: false,
		};
	},

	created() {
		this.getSettingsFromStore();
	},

	methods: {
		__,

		async getSettingsFromStore() {
			this.settings = Object.assign({}, this.getSettings);
		},

		onToggleSwitch(checked, value) {
			this.settings.human_readable_date = !!checked;
		},

		updateNoRows() {
			this.isUpdatingNoRows = true;

			if (this.settings.no_of_rows < 1 || this.settings.no_of_rows > 5) {
				// show an error message and set a value between 5
				this.settings.no_of_rows = 5;
			}

			fetchApi({
				path: SETTINGS_ENDPOINT + '/no_of_rows',
				method: 'POST',
				data: {value: this.settings.no_of_rows}
			}).then((response) => {
				// update vue store upon successful response
				this.updateSettings({
					no_of_rows: this.settings.no_of_rows
				});
				this.showSettingsUpdatedMessage();
			}).catch((error) => {
				showSnackBar(
					printApiError(getApiErrors(error)),
					'error'
				);

				// set previous value to model since the update failed
				this.settings.no_of_rows = this.getNoOfRows;
			}).finally(() => {
				this.isUpdatingNoRows = false;
			})
		},

		updateHumanReadableDate() {
			this.isUpdatingHumanReadableDate = true;

			fetchApi({
				path: SETTINGS_ENDPOINT + '/human_readable_date',
				method: 'POST',
				data: {value: this.settings.human_readable_date}
			}).then((response) => {
				// update vue store upon successful response
				this.updateSettings({
					human_readable_date: response.human_readable_date
				});
				this.showSettingsUpdatedMessage();
			}).catch((error) => {
				showSnackBar(
					printApiError(getApiErrors(error)),
					'error'
				);

				// set previous value to model since the update failed
				this.settings.human_readable_date = this.getHumanReadableDate;
			}).finally(() => {
				this.isUpdatingHumanReadableDate = false;
			})
		},

		/**
		 * Show settings updated message
		 */
		showSettingsUpdatedMessage() {
			const message = '<div>' + __( 'Settings updated.', 'nu-vue' ) + '</div>';
			showSnackBar(__( 'Settings updated.', 'nu-vue' ), 'success');
		},

	},
};
</script>

<style lang="scss" scoped>
.settings-form {
	padding: 30px 0;
	font-size: 14px;
	line-height: 1.3;

	@include media("<tablet") {
		padding: 20px 0;
	}

	.row {
		border-bottom: 1px solid #e4e4e4;
		padding: 30px 0;
		font-size: 14px;
		line-height: 1.3;

		&:first-of-type {
			padding-top: 10px !important;
		}

		.label {
			display: block;
			float: left;
			width: 205px;

			@include media("<tablet") {
				float: none;
				width: 100%;
				padding-bottom: 15px;
			}

			label {
				display: block;
				font-weight: 600;
			}
		}

		.field {
			display: block;
			margin: 0 0 0 205px;
			max-width: 500px;

			@include media("<tablet") {
				margin: 0;
			}

			hr {
				margin: 20px 0;
			}
		}

		.desc {
			font-size: 14px;
			line-height: 1.5em;
			margin: 10px 0 0;
			color: #50575e;
			font-style: italic;

			+ .desc {
				font-style: normal;
			}
		}
	}

	.no-border {
		border: none;
	}
}
</style>
