<template>
	<h2 class="page-title">{{ __("Top Pages", "nu-vue") }}</h2>
	<p class="desc">{{ __("Top pages are displayed here.", 'nu-vue') }}</p>
	<SkeletonTable :isLoaded="isLoaded"/>
	<ListTable
		:rows="this.rows"
		:columns="this.columns"
		:per-page="getSettings?.no_of_rows"
		:total-items="this.rows.length"
	>
		<template v-slot:url="data">
			<a :href="data.row.url" target="_blank">{{ data.row.url }}</a>
		</template>
		<template v-slot:date="data">
			{{ this.getHumanReadableDate(data.row) }}
		</template>
	</ListTable>

	<div class="list-emails" v-if="getSettings?.emails?.length">
		<h2>{{ __('Emails', 'nu-vue') }}</h2>
		<ul>
			<li v-for="email in getSettings.emails" :key="email">
				<i class="dashicons dashicons-email"></i> {{ email }}
			</li>
		</ul>
	</div>
</template>

<script>
import {__} from "@wordpress/i18n";
import {fetchApi, getApiErrors, printApiError, showSnackBar} from "@/utils/bootstrap.js";
import {mapState} from "pinia";
import {useSettingsStore} from "@/stores/settingsStore.js";
import SkeletonTable from "components/skeletons/SkeletonTable.vue";
import ListTable from "components/ListTable.vue";
import {DATA_ENDPOINT} from "@/constants.js";

export default {
	name: "Table",
	components: {
		SkeletonTable,
		ListTable,
	},
	data() {
		return {
			columns: {},
			rows: [],
			isLoaded: false,
		};
	},

	created() {
		this.fetchData();
	},

	computed: {
		...mapState(useSettingsStore, ['getSettings']),
	},

	methods: {
		__,

		fetchData() {
			this.isLoaded = false;
			// fetch data from the server
			fetchApi({
				path: DATA_ENDPOINT + '?type=table',
			}).then((response) => {
				this.title = response.title;
				response.data.headers.forEach((column) => {
					const column_id = column.toLowerCase();
					this.columns[column_id] = {
						label: column,
					};
				});
				// get only 5 items
				this.rows = response.data.rows.slice(0, this.getSettings.no_of_rows);
				this.isLoaded = true;
			}).catch((error) => {
				showSnackBar(
					printApiError(getApiErrors(error)),
					'error'
				);
			});
		},

		getHumanReadableDate(row) {
			return this.getSettings.human_readable_date ? row.formatted_date : row.date;
		},
	},
};
</script>

<style scoped>
.list-emails {
	margin-top: 20px;

	ul > li {
		margin-bottom: 10px;

		i {
			margin-right: 5px;
		}
	}
}

</style>
