<template>
	<Bar v-if="isLoaded"
		 id="bar-chart-id"
		 :options="getChartOptions()"
		 :data="getChartData()"
	/>
</template>

<script>
import {__} from "@wordpress/i18n";
import {Bar} from 'vue-chartjs';
import {Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js';


ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
	name: "BarChart",
	props: {
		isLoaded: {
			type: Boolean,
			default: false
		},
		chartData: {
			type: Object,
			default: () => {
			}
		},
	},
	components: {
		Bar
	},
	data() {
		return {
			colors: [
				"#e27730",
				"#f77f00",
				"#fcbf49",
				"#eae2b7",
				"#9dab86",
				"#B2EBF2",
				"#0097A7",
				"#264653",
				"#91BAFA",
				"#80CBC4",
				"#A1DB89",
			],
		};
	},
	methods: {
		__,
		getChartData() {
			const labels = [];
			const data = [];
			Object.keys(this.chartData).forEach((key) => {
				labels.push(this.chartData[key].formatted_date);
				data.push(this.chartData[key].value);
			});

			return {
				labels: labels,
				datasets: [
					{
						backgroundColor: this.colors[0],
						data: data,
					}
				]
			}
		},

		getChartOptions() {
			return {
				plugins: {
					legend: {
						display: false
					},
					title: {
						display: true,
						text: __('Bar Chart', 'nu-vue'),
					}
				},
				scales: {
					x: {
						display: true,
						title: {
							display: true,
							text: __('Date', 'nu-vue')
						}
					},
					y: {
						display: true,
						title: {
							display: true,
							text: __('Value', 'nu-vue')
						}
					}
				},
				responsive: true,
				maintainAspectRatio: true,
			}
		}
	},
};
</script>

<style scoped>
#bar-chart-id {
	margin-top: 20px;
}
</style>
