<template>
	<div class="field-repeater">
		<ul>
			<li v-for="(email, index ) in emails">
				<input type="email" :class="validateEmail(index)" name="emails[]" v-model="emails[index]"
					   placeholder="mail@mail.com" :disabled="this.isUpdatingEmails" v-on:change="updateEmails"/>
				<button type="button" class="md secondary" @click.prevent="this.removeEmail(index)"
						:disabled="this.isUpdatingEmails">-
				</button>
			</li>
			<li v-if="emails && emails.length < 5">
				<input type="email" name="emails[]" :placeholder="__( 'eg: mail@mail.com', 'nu-vue')"
					   :disabled="true"/>
				<button type="button" class="md primary" @click.prevent="this.addEmail"
						:disabled="this.isUpdatingEmails">+
				</button>
			</li>
			<p class="desc">{{ __("You can specify upto five emails.", 'nu-vue') }}</p>
		</ul>
	</div>
</template>


<script>
import {__} from "@wordpress/i18n";
import {fetchApi, getApiErrors, printApiError, showSnackBar} from "@/utils/bootstrap.js";
import {mapState} from "pinia";
import {useSettingsStore} from "@/stores/settingsStore.js";
import {SETTINGS_ENDPOINT} from "@/constants.js";

const settingsStore = useSettingsStore();

export default {
	name: "EmailRepeater",
	props: {},

	data() {
		return {
			emails: [],
			isUpdatingEmails: false,
		};
	},

	computed: {
		...mapState(useSettingsStore, ['getEmails', 'updateSettings']),
	},

	created() {
		this.getSettingsFromStore();

		settingsStore.$subscribe((mutation, state) => {
			this.emails = this.getEmails;
		})
	},

	methods: {
		__,

		getSettingsFromStore() {
			// check if emails value exists on the store
			if (undefined !== this.getEmails) {
				// get no more than 5 emails
				this.emails = this.getEmails.slice(Math.max(this.getEmails.length - 5, 0));
			} else {
				this.emails = [];
			}
		},

		updateEmails() {
			this.isUpdatingEmails = true;
			const emails = this.emails.filter((email) => email !== "");
			fetchApi({
				path: SETTINGS_ENDPOINT + '/emails',
				method: 'POST',
				data: {value: emails}
			}).then((response) => {
				this.updateSettings({
					emails: emails
				});
				showSnackBar(__( 'Settings updated.', 'nu-vue' ));
			}).catch((error) => {
				showSnackBar(printApiError(getApiErrors(error)));
			}).finally(() => {
				this.isUpdatingEmails = false;
			});
		},

		addEmail() {
			if (this.emails.length >= 5) {
				showSnackBar(__( 'You can only add 5 emails.', 'nu-vue' ), 'error');
				return;
			}
			this.emails.push("");
		},

		removeEmail(index) {
			if (this.emails.length === 0) {
				return;
			}

			//store the email to be removed
			const email = this.emails[index];

			// remove the email from the list
			this.emails.splice(index, 1);

			if (this.validateEmailFormat(email) === true) {
				this.updateEmails();
			}
		},

		validateEmail(index) {
			if (!Array.isArray(this.emails) || !this.emails[index]) {
				return "";
			}

			if (!this.validateEmailFormat(this.emails[index])) {
				return "error";
			}

			return "";
		},

		validateEmailFormat(email) {
			const regExp = /\S+@\S+\.\S+/;
			return regExp.test(email);
		}
	}
};
</script>

<style scoped>
.field-repeater {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;

			input {
				flex: 1;
				margin-right: 10px;
			}

			button {
				flex-shrink: 0;

				+ button {
					margin-left: 10px;
				}
			}
		}

		.desc {
			font-size: 14px;
			line-height: 1.5em;
			margin: 10px 0 0;
			color: #50575e;
			font-style: italic;

			+ .desc {
				font-style: normal;
			}
		}
	}
}
</style>
