<template>
	<table :class="tableClass">
		<thead>
		<tr>
			<th v-for="(value, key) in columns" :class="['column', key]">
				{{ value.label }}
			</th>
		</tr>
		</thead>

		<tfoot>
		<tr>
			<th v-for="(value, key) in columns" :class="['column', key]">{{ value.label }}</th>
		</tr>
		</tfoot>

		<tbody>
		<template v-if="rows.length">
			<tr v-for="row in rows" :key="row[index]">
				<td v-for="(value, key) in columns" :class="['column', key]">
					<slot :name="key" :row="row">
						{{ row[key] }}
					</slot>
				</td>
			</tr>
		</template>
		<tr v-else>
			<td :colspan="colspan">{{ notFound }}</td>
		</tr>
		</tbody>
	</table>
</template>

<script>

export default {
	name: "ListTable",
	props: {
		columns: {
			type: Object,
			required: true,
			default: {},
		},
		rows: {
			type: Array,
			required: true,
			default: [],
		},
		index: {
			type: String,
			default: 'id',
		},
		tableClass: {
			type: String,
			default: 'wp-list-table widefat fixed striped',
		},
		notFound: {
			type: String,
			default: 'No items found.',
		},
	},
	methods: {
		colspan() {
			return Object.keys(this.columns).length;
		},
	},
};
</script>

<style scoped>
table {
	margin-top: 20px;
}
</style>
