<template>
	<nav>
		<RouterLink class="tab" activeClass="active" :to="{name: 'Table'}">{{__('Table', 'nu-vue')}}</RouterLink>
		<RouterLink class="tab" activeClass="active" :to="{name: 'Graph'}">{{__('Graph', 'nu-vue')}}</RouterLink>
		<RouterLink class="tab" activeClass="active" :to="{name: 'Settings'}">{{__('Settings', 'nu-vue')}}</RouterLink>
	</nav>
</template>

<script>
import {__} from '@wordpress/i18n';
export default {
	name: "NavBar",
	methods: {
		__,
	},
};
</script>

<style lang="scss" scoped>
nav {
	min-height: 58px;
	background-color: #fff;
	font-size: 14px;
	margin: 0 0 20px 0;
	padding: 0 $content-padding;

	a.tab {
		border-bottom: 3px solid #fff;
		box-shadow: none;
		color: #666;
		display: inline-block;
		margin-right: 30px;
		padding: 20px 0 17px 0;
		text-decoration: none;

		&.active {
			border-color: $orange;
		}

		&:hover {
			border-color: #999;
		}
	}

	a.action {
		color: #fff;
		font-weight: 600;
		margin: 14px 0 14px 10px;
		line-height: 28px;
		min-height: 30px;
		vertical-align: top;

		@include media("<=phone") {
			margin-left: 0;
		}
	}

	.page-title {
		background-color: #fff;
		display: inline-block;
		font-size: 23px;
		margin: 0;
		padding: 20px 20px 20px 0;
	}
}
</style>
