<template>
    <label class="switch tips">
        <input type="checkbox" class="toogle-checkbox" @change="trigger" :checked :disabled />
        <span class="slider round"></span>
    </label>
</template>

<script>
export default {

    name: 'Switches',

    props: {
        checked: {
            type: Boolean, // String, Number, Boolean, Function, Object, Array
            default: false
        },
		disabled: {
			type: Boolean,
			default: false
		},
    },

    data () {
        return {

        };
    },

    methods: {
        trigger(e) {
            this.$emit('input', e.target.checked, e.target.value);
        }
    }
};
</script>

<style scoped lang="scss">
    .switch {
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

        input[type="checkbox"] {
			position: absolute;
			top: auto;
			overflow: hidden;
			clip: rect(1px, 1px, 1px, 1px);
			width: 1px;
			height: 1px;
			white-space: nowrap;

			&:not(:checked) {
				&:hover,
				&:focus {
					& + .slider {
						box-shadow: 0 0 0 1px #fff, 0 0 0 3px #999;
						background-color: #999;
					}
				}
			}

			&:checked {
				& + .slider {
					background-color: #00A32A;

					&:before {
						-webkit-transform: translateX(10px);
						-ms-transform: translateX(10px);
						transform: translateX(10px);
					}
				}

				&:hover,
				&:focus {
					& + .slider {
						box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00A32A;
					}
				}
			}

			&:disabled {
				&:hover,
				&:focus {
					& + .slider {
						box-shadow: none;
					}
				}

				& ~ * {
					opacity: .5;
					cursor: default;
				}
			}
        }

        .slider {
			position: relative;
			width: 27px;
			height: 17px;
			flex-shrink: 0;
			cursor: pointer;
			background-color: #ccc;
			border-radius: 10px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			&:before {
				position: absolute;
				content: "";
				height: 13px;
				width: 13px;
				left: 2px;
				top: 2px;
				background-color: #fff;
				border-radius: 50%;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
        }
    }
</style>
