<template>
	<header>
		<img :src="Logo" class="logo"  alt="Logo"/>
		<div>
			<h2 class="title">{{__( 'VueJS Applicant Challenge', 'nu-vue' )}}</h2>
			<h3 class="subtitle">{{__('Completed by: Nurul Umbhiya', 'nu-vue' )}}</h3>
		</div>
	</header>

	<NavBar />

	<main>
		<RouterView />
		<div id="snackbar"></div>
	</main>
</template>

<script>
import { RouterView } from "vue-router";
import Logo from "./assets/logo.svg";
import NavBar from "./components/NavBar.vue";
import {useSettingsStore} from "@/stores/settingsStore.js";
import {SETTINGS_ENDPOINT} from "@/constants.js";
import {mapState} from "pinia";
import {fetchApi, getApiErrors, printApiError, showSnackBar} from "@/utils/bootstrap.js";
import {__} from "@wordpress/i18n";
export default {
	name: "App",

	components: {
		NavBar,
		RouterView,
	},

	data() {
		return {
			Logo: Logo
		};
	},

	computed: {
		...mapState(useSettingsStore, ['getSettings', 'updateSettings']),
	},

	created() {
		this.getSettingsFromStore();
	},

	methods: {
		__,

		/**
		 * Fetch the settings from the store
		 */
		async getSettingsFromStore() {
			// check if the store has the settings
			if (!this.getSettings.no_of_rows) {
				// fetch the settings from the server
				await this.fetchSettings();
			}
		},

		/**
		 * Fetch the settings from the server
		 */
		fetchSettings() {
			fetchApi({
				path: SETTINGS_ENDPOINT,
				method: 'GET'
			}).then((response) => {
				this.settings = response;
				this.updateSettings(
					{
						...this.settings
					}
				);
			}).catch((error) => {
				showSnackBar(
					printApiError(getApiErrors(error)),
					'error'
				);
			});
		},
	}
};
</script>

<style scoped lang="scss">
header {
	display: flex;
	border-top: 3px solid #e27730;
	padding: 24px 20px;
	gap: 10px;

	.logo {
		display: inline-block;
		margin: 0;
		width: 50px;
		vertical-align: top;
	}

	.title {
		color: #e27730;
		font-size: 24px;
		font-weight: 600;
		margin: 0 10px;
		display: inline-block;
	}
	.subtitle {
		padding-left: 0;
		margin: 0 10px;
		line-height: 1.5;
		font-size: 16px;
	}

	@include media("<phone") {
		.logo {
			width: 30px;
		}

		.title {
			font-size: 16px;
		}
		.subtitle {
			font-size: 10px;
		}

	}
}
</style>
